Repository 21Enzo17/TF-PV, pull requests merged in 2023-07, with the labels that each got.

#3 Fusionar rama "main" con "Estructura-Principal"
  LOGO-LETRAS.svg
  LOGO-sinL.svg
  README.md
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/IndexController.java
  src/main/resources/application.properties
  src/main/resources/static/css/style.css
  src/main/resources/static/images/banner/derecha.jpeg
  src/main/resources/static/images/banner/izquierda.jpg
  src/main/resources/static/images/banner/medio.jpg
  src/main/resources/static/images/banner/plato-saludable.jpg
  src/main/resources/static/images/footer/plato.jpg
  src/main/resources/static/images/logo/LOGO.png
  src/main/resources/static/images/logo/LOGO_BORDE.png
  src/main/resources/static/images/logo/icono.png
  src/main/resources/static/images/otros/calculator.png
  src/main/resources/static/images/otros/recipe.png
  src/main/resources/static/images/otros/testimonial.png
  src/main/resources/static/images/redes/facebook.png
  src/main/resources/static/images/redes/instagram.png
  src/main/resources/static/images/redes/tik-tok.png
  src/main/resources/templates/index.html
  src/main/resources/templates/layouts/footer.html
  src/main/resources/templates/layouts/header.html
Labels: pull request

#13 Incorporar entity, controller, repository y service Receta
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/CategoriaController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/IngredienteController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/RecetaController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/Categoria.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/Ingrediente.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/Receta.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/CategoriaRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/IngredienteRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/RecetaRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/ICategoriaService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/IIngredienteService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/IRecetaService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/CategoriaServiceImp.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/IngredienteServiceImp.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/RecetaServiceImp.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/util/UploadFile.java
  src/main/resources/application.properties
  src/main/resources/static/css/style.css
  src/main/resources/templates/categorias.html
  src/main/resources/templates/ingredientes.html
  src/main/resources/templates/layouts/header.html
  src/main/resources/templates/modificar-categoria.html
  src/main/resources/templates/modificar-ingrediente.html
  src/main/resources/templates/modificar-receta.html
  src/main/resources/templates/nueva-categoria.html
  src/main/resources/templates/nueva-receta.html
  src/main/resources/templates/nuevo-ingrediente.html
  src/main/resources/templates/recetas.html
Labels: entity, controller, repository, service

#15 Controller entity imc
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/IndiceMasaCorporalController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/UsuarioController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/IndiceMasaCorporal.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/User.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/IIndiceMasaCorporalRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/IUserRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/IIndiceMasaCorporalService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/IUserService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/IndiceMasaCorporalServiceImp.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/UserServiceImp.java
  src/main/resources/application.properties
  src/main/resources/static/css/style.css
  src/main/resources/static/images/otros/user.png
  src/main/resources/templates/imc.html
  src/main/resources/templates/layouts/header.html
  src/main/resources/templates/modificar-usuario.html
  src/main/resources/templates/registro.html
Labels: documentation, design, entity, controller, repository

#17 Contacto
  bin/src/main/resources/templates/layouts/contactohe.html
  pom.xml
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/ContactoController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/IContactoService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/Contacto.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/ContactoRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/IContactoService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/ContactoSeviceImp.java
  src/main/resources/application.properties
  src/main/resources/static/css/style.css
  src/main/resources/static/images/background/bg-contacto.jpg
  src/main/resources/templates/contactos.html
  src/main/resources/templates/layouts/footer.html
  src/main/resources/templates/layouts/header.html
  src/main/resources/templates/mensajes.html
Labels: design, entity, controller, pull request, repository, service

#24 Autenticacion de usuario en imc
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/IndexController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/IndiceMasaCorporalController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/UsuarioController.java
  src/main/resources/templates/imc.html
  src/main/resources/templates/index.html
  src/main/resources/templates/layouts/header.html
  src/main/resources/templates/login.html
Labels: design, controller

#23 Incorporar rama auth-control-recetas a main
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/RecetaController.java
  src/main/resources/templates/recetas.html
Labels: design, controller

#22 Creación de Pagina Testimonios
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/AutorController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/controller/TestimonioController.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/Autor.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/entity/Testimonio.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/IAutorRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/repository/ITestimonioRepository.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/IAutorService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/ITestimonioService.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/AutorServiceImp.java
  src/main/java/ar/edu/unju/fi/TPFINALPV/service/imp/TestimonioServiceImp.java
  src/main/resources/application.properties
  src/main/resources/static/css/style.css
  src/main/resources/templates/autor.html
  src/main/resources/templates/layouts/header.html
  src/main/resources/templates/modificar-autor.html
  src/main/resources/templates/modificar-testimonio.html
  src/main/resources/templates/nuevo-autor.html
  src/main/resources/templates/nuevo-testimonio.html
  src/main/resources/templates/testimonios.html
Labels: design, entity, controller, repository, service
